[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ItemRest"]
	path = ItemRest
	url = https://github.com/ahmetcaliskan1987/itemrest
[submodule "examly"]
	path = examly
	url = https://github.com/cran/examly
